* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* I removed the period at the beginning of "header" because it is no longer a class in the html. It is now its semantic equivalent, "header." */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* I erased "header" for the following two sections because there is only one "h1" in the entire html file. */
h1 {
    display: inline-block;
    font-size: 48px;
}

h1 .seo {
    color: #d9dcd6;
}

/* I renamed ".header div" to "nav," its semantic counterpart. I also removed the "div ul" and "div ul li" sections and consolidated them into "nav." */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-left: 25px;
}

/* I removed the "header div ul" because we removed the "ul" in the html file. */
nav a {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* I changed this "content" class to the semantic "main."  */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* I consolidated "search-engine-opitimazation," "online-reputation-management," and "social-media-marketing" classes all into one semantic "article."  */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* I also consolidated the margin-bottom and font-size for the "article" headings because they were all the same. */
article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* I also consolidated the height for all the "article" .img files. */
article img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

/* I changed this into an id because there was only one image that floats right. */
#float-right {
    float: right;
    margin-left: 25px;
}

/* I changed this "benefits" class to the semantic element "aside." */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* I consolidated "benefit-lead," "benefit-brand," and "benefit-cost" classes all into one semantic "section". */
section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* I also consolidated the margin-bottom and text-align for the "section" headings because they were all the same. */
section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* I also consolidated the display, margin, and max-width into one "section img." */
section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* I removed the period at the beginning of "footer" because it is no longer a class in the html. It is now its semantic equivalent, "footer." */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}